<h2>Enter a Post</h2>

<%= form_for @post, url: {action: "create"} do |form| %>
  Title: <br/><%= form.text_field :title %><br/><br/>
  Author: <br/><%= form.text_field :author %><br/><br>
  Description: <br/><%= form.text_area :description %><br/><br/>
  Tag: <br/><input type="text" name="tag" cols="33"><br/><br/>    
  <%= token_tag form_authenticity_token %>

  <%= form.submit "Save Post" %>
<% end %>


